:root {
  --cor-fundo: #fdf6e3;
  --cor-navefooter: #457b9d;
  --cor-titulos: #2c4875;
  --cor-textos: #5c5c5c;
  --cor-btn: #5dbbba;
  --cor-caixas: #a8dadc;
  --cor-card: white;
}
.lightmode {
  --cor-fundo: #fdf6e3;
  --cor-navefooter: #457b9d;
  --cor-titulos: #2c4875;
  --cor-textos: #5c5c5c;
  --cor-btn: #5dbbba;
  --cor-caixas: #a8dadc;
  --cor-card: white;
}
.darkmode {
  --cor-fundo: #1c1c1c;
  --cor-navefooter: #000000;
  --cor-titulos: #ffffff;
  --cor-textos: #ffffff;
  --cor-btn: #2a2a2a;
  --cor-caixas: #3c3c3c;
  --cor-card: #3c3c3c;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--cor-fundo);
  height: 100vh;
}
label {
  color: var(--cor-textos);
}
p {
  color: var(--cor-textos);
}
nav,
footer {
  background-color: var(--cor-navefooter);
}
footer {
  min-height: 14vh;
}
h1,
h5 {
  color: var(--cor-titulos);
}
ul,
li {
  color: var(--cor-textos);
}
.cardfundo {
  background-color: var(--cor-card);
}
.btn {
  background-color: var(--cor-btn);
  border: 0;
}
.cor {
  background-color: var(--cor-caixas);
}
.servicos {
  background-color: var(--cor-caixas);
  text-align: center;
  border-radius: 20px;
  width: 50vw;
  margin-top: 20px;
  margin-bottom: 20px;
}
.area {
  border-radius: 40px;
  text-align: center;
  background-color: var(--cor-caixas);
  margin: 10px;
}
.bt {
  margin-bottom: 10px;
}
.tamanho {
  font-size: 30px;
}
.arredondar {
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.passo {
  background-color: var(--cor-caixas);
  text-align: center;
  margin: 10px;
  border-radius: 20px;
}
.imgpasso {
  height: 15vh;
}
.botfotenav {
  border-radius: 30px;
  margin: 10px;
}
.espaco {
  margin: 20px;
  min-height: 69vh;
}
